export const API_URL = process.env.NEXT_PUBLIC_API_URL || 'http://localhost:5000/api'

export const FIREBASE_CONFIG = {
   apiKey:AIzaSyBsAEpp3hooCCHYEdmTNqTId9aWK0a69Ms
  authDomain:ai-vit-52666.firebaseapp.com
  projectId:ai-vit-52666
  storageBucket:ai-vit-52666.firebasestorage.app
  messagingSenderId: 137839510307
  appId:1:137839510307:web:c8f56f623c8234b4638296
  measurementId:G-CDTY9LJLC7
}
